.ui-hidden {
	display: none;
}
body {
	background: #D3DB00;
	font-family: Arial;
	margin: 0;
	padding: 0;
}
header {
	padding: 35px 50px 10px;
}
header h1 {
	font-weight: normal;
}
header h1 .sitback {
	color: rgba(255,255,255,0.9);
}
header p {
	font-size: 17px;
	margin: 5px 0;
}
button {
	background: rgba(0,0,0,0.85);
	color: white;
	border: 0;
	padding: 5px 20px;
	margin: 0 10px 0 0;
	border-radius: 10px;
	font-weight: bold;
}
button:hover {
	background: rgba(64,64,64,1);
}
#controls {
	padding: 10px 0;
	overflow: auto;
}
#controls h2 {
	margin: 0;
	padding: 8px 0px;
	float: left;
}
#controls code {
	background: rgba(0,0,0,0.1);
	padding: 10px;
	float: left;
	margin: 5px 10px;
	white-space: pre;
}
#controls code:hover {
	padding-bottom: 6px;
	border-bottom: 4px solid rgba(255,255,255,.85);
	cursor: default;
}
#controls code.ui-active {
	padding-bottom: 6px;
	border-bottom: 4px solid white;
}
#main {
	padding: 0 10px;
}
/* Touch list */
ul.touchlist {

}
ul.touchlist li {
	background: rgba(255,255,255,0.9);
	padding: 10px;
	margin-bottom: 1px;
}
ul.touchlist li p {
	margin: 0;
}
ul.touchlist li p.dateofbirth {
	color: #0F97AA;
	font-size: small;
}
ul.touchlist .listplus-heading {
	margin: 10px 0 1px;
	list-style: none;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px 0 0 0;
	font-size: smaller;
	padding: 5px 10px;
}
/* Tag list */
ul.taglist {
	background: white;
	
}
ul.taglist li {
	
}